@import "../../global.scss";

.portfolio {
	padding-top: 20px;
	background-color: var(--pColor);
	display: flex;
	flex-direction: column;
	align-items: center;

	#portfolio-title {
		margin-bottom: 20px;
	}

	h1 {
		@include mobile {
			font-size: 40px;
		}
		color: var(--sColor);
		font-size: 50px;
		transition: color 1s ease;
	}
	ul {
		margin: 10px;
		padding: 0;
		list-style: none;
		display: flex;
		@include mobile {
			flex-wrap: wrap;
			justify-content: center;
            margin: 10px 0;
		}
	}
	.container {
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@include mobile {
			width: 100%;
		}

		.item {
			width: 220px;
			height: 150px;
			border-radius: 20px;
			border: 1px solid var(--sColor);
			margin: 10px 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 300;
			color: white;
			position: relative;
			transition: all 0.5s ease;
			cursor: pointer;
			@include mobile {
				width: 130px;
				height: 100px;
			}

			h3 {
				text-align: center;
				position: absolute;
				font-size: 20px;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 1;
                border-radius: inherit;
			}

			&:hover {
				background-color: var(--selectedColor);
				img {
					opacity: 0.25;
					z-index: 0;
				}
			}
		}
	}
	.calendar {
		margin-top: 30px;
		color: var(--sColor);
        @include mobile {
			width: 95%;
            margin-top: 60px;
            .react-activity-calendar__count{
                font-size: 14px;
            }
            .react-activity-calendar__legend-colors{
                font-size: 14px;
            }
		}
		
	}
}
