@import "../../global.scss";


:export {
	darkPrimary: $darkPrimaryColor;
	lightPrimary: $lightPrimaryColor;
	darkSecondary: $darkSecondaryColor;
	lightSecondary: $lightSecondaryColor;

	lightModeTB_inactive_primary: $lightPrimaryColor;
	lightModeTB_inactive_secondary: $lightSecondaryColor;
	lightModeTB_active_primary: $lightSecondaryColor;
	lightModeTB_active_secondary: $lightPrimaryColor;

	darkModeTB_inactive_primary: $darkPrimaryColor;
	darkModeTB_inactive_secondary: $darkSecondaryColor;
	darkModeTB_active_primary: $darkSecondaryColor;
	darkModeTB_active_secondary: $darkPrimaryColor;

    selectedDarkGrad: $selectedLightGrad;
    selectedLightGrad: $selectedDarkGrad;

	selectedColorDark: $selectedPrimary;
	selectedColorLight: $selectedSecondary;

	//github calendar
	level0light: #e4e4e4;
	level0dark: #26323e;
	level1light: #C4E48D;
	level1dark: #0E4429;
	level2light: #7DC672;
	level2dark: #086a36;
	level3light: #229A3C;
	level3dark: #26A641;
	level4light: #1A621F;
	level4dark: #39D353;
}
