

@import "../../global.scss";

.portfolioList{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    transition: all 1s ease;
    color: var(--sColor);
    cursor: pointer;

    @include mobile {
        margin-right: 20px;
    }

    &.active{
        background-image: var(--selectedGrad);
        color: var(--sColor);
    }
}