

@import "../../global.scss";

.portfolioList{
    font-size: 14px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 7px;
    border-radius: 10px;
    transition: all 1s ease;
    color: var(--sColor);
    cursor: pointer;

    @include mobile {
        margin-right: 20px;
    }

    &.active{
        // background-image: var(--selectedGrad);
        @include apply-component(map-get($gradientBG, comp1));
        color: var(--sColor);
    }
}