@import "../../global.scss";

.contact {
	background-color: var(--pColor);
	display: flex;
	@include mobile {
		flex-direction: column;
	}

	.left {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img {
			background-image: var(--selectedGrad);
			border-radius: 50%;
			height: 60%;
			@include mobile {
				
				padding-top: 20px;
			}
		}
	}
	.right {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include mobile{
		
		}

		h2 {
			font-size: 30px;
			color: var(--sColor);
		}
		form {
			width: 60%;
			height: 60%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
            

			input {
				width: 300px;
				height: 30px;
				font-size: 16px;
				@include mobile {
					width: 200px;
					height: 20px;
				}
			}
			textarea {
				width: 300px;
				height: 200px;
				font-size: 16px;
				@include mobile {
					width: 200px;
					height: 100px;
				}
			}
			button {
				width: 150px;
				height: 30px;
				color: var(--sColor);
				background-image: var(--selectedGrad);
				border-radius: 10px;
				border: none;
				font-weight: 500;
				cursor: pointer;
				@include mobile {
					width: 200px;
					height: 35px;
					font-size: 20px;
				}

				&:focus {
					outline: none;
				}
			}
			span {
				
				color: var(--selectedColor);
			}

            @media screen and (-webkit-min-device-pixel-ratio:0) { 
                select:focus,
                textarea:focus,
                input:focus {
                  font-size: 16px;
                  
                }
              }
		}
	}
}
