@import "../../global.scss";

.intro {
	background-color: var(--pColor);
	display: flex;

	@include mobile {
		flex-direction: column;
		align-items: center;
	}

	.left {
		flex: 0.5;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		@include mobile {
			align-items: baseline;
		}
		.imgContainer {
			//margin-top: 10px;
			width: 600px;
			height: 600px;
			transition: all 2s ease-out;
			background-image: var(--selectedGrad);
			border-radius: 50%;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			float: right;
			// margin-top: 50px;

			@include mobile {
				align-items: flex-start;
			}

			img {
				scale: 1.25;

				@include mobile {
					padding-left: 50px;
					scale: 1.2;
				}
			}
			overflow: hidden;
		}
	}
	.right {
		flex: 0.5;
		position: relative;
		color: var(--sColor);
		transition: all 2s ease;
		.wrapper {
			width: 100%;
			height: 100%;
			padding-left: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@include mobile {
				padding-left: 0;
				align-items: center;
				height: 55%;
			}
			h1 {
				@include mobile {
					font-size: 40px;
					margin: 10px 0;
				}
				font-size: 60px;
				margin: 10px 0;
			}
			h2 {
				@include mobile {
					font-size: 30px;
					font-weight: 300;
				}
				font-size: 35px;
			}
			h3 {
				@include mobile {
					font-size: 25px;
					font-weight: 200;
				}
				font-size: 30px;
			}
		}
		a {
			position: absolute;
			bottom: 10px;
			@include mobile {
				display: none;
			}
			.ArrowCircleDown {
				font-size: 50px;
				color: var(--sColor);
				animation: arrowBlink 2s infinite;
			}
			@keyframes arrowBlink {
				0% {
					opacity: 0.25;
				}
				50% {
					opacity: 1;
				}
				100% {
					opacity: 0.25;
				}
			}
		}
	}
}
