@import "../../global.scss";
@import "https://fonts.googleapis.com/css?family=Khula:700";

.intro {
	// background-color: var(--pColor);
	display: flex;

	@include mobile {
		flex-direction: column;
		align-items: center;
	}
	#myVideo {
		position: fixed;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		z-index: -1;
		@include mobile {
			display: none;
		}
	}

	.left {
		z-index: 1;
		flex: 0.5;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		@include mobile {
			align-items: baseline;
		}
		.imgContainer {
			//margin-top: 10px;
			// width: 700px;
			// height: 700px;
			transition: all 2s ease-out;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			float: right;
			// margin-top: 50px;

			#bg {
				position: absolute;
				transition: all 2s ease-out;
				width: 28%;
				background-color: var(--pColorT);
				backdrop-filter: blur(20px);
				-webkit-backdrop-filter: blur(20px);
				border-radius: 50%;
				z-index: 0;
				@include mobile {
					// z-index: 0;
					@include apply-component(map-get($gradientBG, comp1));

					align-items: flex-start;
					width: 78%;
				}
			}
			#bg:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}

			img {
				width: 75%;
				z-index: 1;
				@include mobile {
					// padding-left: 40px;
					width: 80%;
				}
			}
			overflow: hidden;
		}
	}
	.right {
		flex: 0.5;
		position: relative;
		color: var(--sColor);
		transition: all 2s ease;
		z-index: 1;
		.wrapper {
			width: 100%;
			height: 100%;
			padding-left: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@include mobile {
				padding-left: 0;
				align-items: center;
				height: 55%;
			}
			h1 {
				@include mobile {
					font-size: 40px;
					margin: 10px 0;
				}
				font-size: 60px;
				margin: 10px 0;
			}
			h2 {
				@include mobile {
					font-size: 30px;
					font-weight: 300;
				}
				font-size: 35px;
			}
			h3 {
				@include mobile {
					font-size: 25px;
					font-weight: 200;
				}
				font-size: 30px;
			}
			span {
				@include mobile {
					font-size: 25px;
					font-weight: 200;
				}
				font-size: 30px;
			}

			.hidden {
				opacity: 0;
			}
			.console-container {
				font-family: Khula;
				font-size: 30px;
				@include mobile {
					font-size: 25px;
					font-weight: 200;
				}
			}
			.console-underscore {
				top: 8px;
				display: inline-block;
				position: relative;
			}
		}
		a {
			position: absolute;
			bottom: 10px;
			@include mobile {
				display: none;
			}
			.ArrowCircleDown {
				font-size: 50px;
				color: var(--sColor);
				animation: arrowBlink 2s infinite;
			}
			@keyframes arrowBlink {
				0% {
					opacity: 0.25;
				}
				50% {
					opacity: 1;
				}
				100% {
					opacity: 0.25;
				}
			}
		}
	}
}
