@import "../../global.scss";

.testimonials{
    background-color: var(--pColor);
    display: flex;
    align-items: center;
    flex-direction: column;

    h1{
        color: var(--sColor);
        font-size: 50px;
        @include mobile{
           font-size: 35px;
        }
    }
    .container{
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            flex-direction: column;
            margin-top: 20px;
        }

        .card{
            width: 250px;
            height: 70%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px var(--sColor);
            transition: all 1s ease-out;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            @include mobile{
                height: 200px;
                box-shadow: none;
                border: 1px solid white;
            }
            

            &.featured{
                width: 300px;
                height: 75%;
                margin: 0 30px;
                @include mobile{
                    width: 250px;
                    height: 180px;
                    margin: 10px 0;
                }
            }
            &:hover{
                transform: scale(1.1);
                @include mobile{
                    transform: none;
                }

            }

            .top{
                display: flex;
                align-items: center;
                justify-content: center;
                @include mobile{
                    overflow: hidden;
                    margin-bottom: 10px;
                }
                .left, .right{
                    //height: 25px;
                    transition: all 2s ease-out;
                    color: var(--sColor);
                    font-size: 40px;
                }
                img{
                    &.user{
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 30px;
                        @include mobile{
                            height: 45px;
                            width: 45px;
                        }
                    }
                }

            }
            .center{
                padding: 10px;
                border-radius: 10px;
                transition: all 1s ease-out;
                background-color: var(--selectedColor);
                color: var(--sColor);
                @include mobile{
                    // margin: 10px 0;
                    overflow: hidden;
                }
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transition: all 1s ease-out;
                h3{
                    color: var(--sColor);
                    margin-bottom: 5px;
                    transition: inherit;
                    @include mobile{
                        overflow: hidden;
                    }
                }
                h4{
                    color: var(--sColor);
                    transition: inherit;
                    @include mobile{
                        overflow: hidden;
                    }
                }
                @include mobile{
                    margin-top: 10px;
                    overflow: hidden;
                }
            }


        }
    }
}