$mainColor: blueviolet;
$lightSecondaryColor: #282b30;
$lightPrimaryColor: #ffffff;
$darkSecondaryColor: #ffffff;
$darkPrimaryColor: #282b30;
$selectedPrimary: #fe8d79;
$selectedSecondary: #a4dbff;

$selectedLightGrad: linear-gradient(#fe8d79, #ff5276);
$selectedDarkGrad: linear-gradient(#a4dbff, #36a5f0);

//github calendar
// $level0light: #0D1117;
// $level0dark: #182028;
// $level1: #48625E;
// $level2: #006D32;
// $level3: #26A641;
// $level4: #39D353;

@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}

$gradientBG: (
	comp1: (

		background: linear-gradient(-90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%),
		background-size: 400% 400%,
		animation: gradient 10s ease infinite,
		
	),
	comp2: (
		
	)


);

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@mixin apply-component($component) {
	@each $property, $value in $component {
		#{$property}: $value;
	}
}
