$mainColor: blueviolet;
$lightSecondaryColor: #1c252e;
$lightPrimaryColor: #ffffff;
$darkSecondaryColor: #ffffff;
$darkPrimaryColor: #1c252e;
$selectedPrimary: #fe8d79;
$selectedSecondary: #a4dbff;

$selectedLightGrad: linear-gradient( #fe8d79, #ff5276);
$selectedDarkGrad: linear-gradient( #a4dbff, #36a5f0);
