@import "../../global.scss";

.work {
	background-color: var(--pColor);
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    overflow: hidden;

    .arrow{
        font-size: 100px;
        //height: 50px;
        position: absolute;
        color: var(--sColor);

        @include mobile{
            display: none;
        }
        &.left{
            left: 100px;
        }
        &.right{
            right: 100px;
        }
    }

	.slider {
		height: 400px;
		display: flex;
		position: absolute;
		left: 0;
        transition: all .5s ease-out;

        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }

		.container {
			width: 100vw;
			display: flex;
			align-items: center;
			justify-content: center;
            color: var(--sColor);
            
			.item {
				width: 800px;
				height: 100%;
                background-image: var(--selectedGrad);
				
				border-radius: 20px;
                display: flex;
				align-items: center;
				justify-content: center;

                @include mobile{
                    width: 90%;
                    height: 200px;
                    margin: 15px 0;
                    
                }

				.left {
					flex: 4;
					height: 80%;
					display: flex;
					align-items: center;
					justify-content: center;
                    

                    .leftContainer{
                        width: 90%;
                        height: 85%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .imgContainer{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: white;
                            display: flex;
                            align-content: center;
                            justify-content: center;
                            align-items: center;
                            .icon{
                                color: black;
                                font-size: 30px;
                            }
                            @include mobile{
                                display: none;
                            }
                            
                        }
                        h2{
                            font-size: 25px;
                        }
                        p{
                            font-size: 15px;
                            @include mobile{
                                overflow: hidden;
                                
                            }

                        }
                        span{
                            font-size: 18px;
                            font-weight: 600;
                            text-decoration: underline;
                        }
                    }
				}
				.right {
					flex: 8;
					height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    @include mobile{
                        display: none;
                    }
                    img{
                        border-radius: 10px;
                        object-fit: cover;
                        width: 90%;
                        //transform: rotate(-10deg);
                    }
				}
			}
		}
	}
}
